.row{
	max-width: 114rem;
	margin: 0 auto;
	
	@include clearfix;

	[class^="col-"]{
		float: left;
	}

	[class^="col-"]:not(:last-child){
		margin-right: $gutter;
		float: left;
	}

	.col-6{
		width: calc( (100% - #{$gutter}) / 2);
	}

	.col-3{
		width: calc( (100% - #{$gutter} * 3) / 4 );
	}

	.col-4{
		width: calc( (100% - #{$gutter} * 2) / 3 );
	}
}