.header{
    position: relative;
    height: 95vh;
    /* min-height: 600px; */
    background-image: linear-gradient( to right, rgba(126, 213, 111,0.8), rgba(40, 180, 133,0.8)), url('../img/hero.jpg');
    background-position: top center;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);

    &_logo-box{
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    &_logo-box .logo{
        height: 3.5rem;
    }
    &_text-box{
        position: absolute;
        width: 100%;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        backface-visibility: hidden;
    }
}