.heading-primary{
    color: $color-white;
    text-transform: uppercase;

    &--main{
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation: moveToRight 1s ease-in-out;
    }

    &--sub{
        display: block;
        font-size: 2rem;
        letter-spacing: 1.7rem;
        animation: moveToLeft 1s ease-in-out;
    }
}

.heading-secondary{
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: transparent;
    display: inline-block;
    -webkit-background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    transition: 0.3s all;

    &:hover{
        text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
        transform: skew(15deg,2deg) scale(1.1);
    }
}

.heading-tertiary{
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph{

    &:not(:last-child){
        margin-bottom: 2rem;
    }
}