//Colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-white: #fff;
$color-black: #000;
$color-dark-gray: #777;
$color-light-gray: #f7f7f7;

//WIDTHS
$gutter: 60px;

//SHADOW
$basic-shadow: 0 2rem 2rem rgba($color-black,0.2);