.features-section{
	padding: 20rem 0;
	background-image: linear-gradient(to right, rgba($color-primary-light,0.8),
	rgba($color-primary-dark,0.8)),
	url('../img/nat-4.jpg');
	background-size: cover;
	transform: skewY(-3deg);
	margin-top: -20vh;
    color: #fff;
    
    &__box {
        background: #fff;
        color: $color-dark-gray;
        padding: 2.5rem;
        text-align: center;
        box-shadow: $basic-shadow;
        transition: 0.3s all;
    
        &:hover {
            transform: translateY(-1.5rem) scale(1.03);
        }
    }

    &__icon {
        font-size: 6rem;
        background-image: linear-gradient(to right bottom, $color-primary, $color-primary-light);
        -webkit-background-clip: text;
        color: transparent;
    }

	& > * {
		transform: skewY(3deg);
	}
}